body {
    box-sizing: border-box;
    text-align: center;
    font-family: "Lato", sans-serif;
}

a {
    text-decoration: none;
    color:#007bff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color:#007bff;
}

img {
    width: 100%;
}

.container {
    padding: 0 20px;
}

.header-low {
    /* width: 100%; */
    height: 50px;
    background-color: #393c3c;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-logo {
    width: 100px;
    margin: auto 0;
}

.header-logo2 {
    margin: auto 0;
}

.header-logo2 i{
    font-size: 20px;
}

.top-img-container {
    position: relative;  
}

.top-img-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

h1 {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

h2 {
    font-weight: 100;
    font-size: 50px;
    margin: 30px;
}

.sub-text {
    font-size:14px;
    color:#858A8A;
    margin: 30px 0;g
    line-height: 2;
}

.top-img-text p,.salon-access {
    font-size: 16px;
    font-weight: 100;
}

.brand-salon-store {
    display:flex;
    justify-content: space-between;
    padding:30px 30px;
}

.brand-salon-store-logo {
    width: 100px;
    height: 50px;
}

.brand-salon-store-logo img {
    width: 100%;
}

.salon-access-hr {
    width: 80%;
    margin: 0 auto;
    opacity: 0.3;
}

.sub2 {
    line-height: 1.5;
    margin:20px;
}

.slide-img {    
    width: 100%;
    position: relative;
}

.slide-img-button {
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    color: white;
    opacity: 0.5;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.slide-img-button p {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
}

.facebook {
    margin: 50px auto;
    width:80%;
    height: 500px;
    border: solid 1px lightgray;
}

.google-input {
    height: 30px;
    border: solid 1px lightgray;
    margin: 20px 0 50px 0;
}

.menu-container {
    width: 100%;
    background-color: lightgray;
    padding: 20px 0;
}

table {
    width: 100%;
}

.td-row {
    width: 50%;
    border: solid 1px white;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 100;
    padding: 12px;
}

.fa-facebook-f,
.fa-instagram {
    opacity: 0.5;
    font-size: 30px;
}

.tr-top {
    border: non;
    width: 100%;
}

.fb-ig {
    width: 30px;
    height: 30px;
}

.shopping {
    width: 300px;
    height:40px;
    color:gray;
    font-weight:700;
    border:solid 1px #858A85;
    margin:20px auto 30px auto;
    line-height: 40px;
}

.fa-shopping-cart {
    font-size:15px;
    margin: 10px;
}

.sitemap-privacy-policy {
    font-size:12px;
}

.privacy-policy-note {
    margin:20px 20px 0px 20px;
    font-size: 12px;
    color: #858a85;
}

.footer {
    background-color:;

}
.footer-copyright {
    height: 30px;
    background-color: #393c3c;
}

.footer-copyright p{
    font-size:12px;
    padding:10px;
    color:whitesmoke;
}